html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    background: #fff;
    font: 16px/22px OpenSans-Light-webfont;
    color: #e0e0e0;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

h1, h2, h3, h4, h5, h6 {
    color: #fa9600;
    font-family: 'BebasNeueRegular';
    font-weight: 400
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
    text-align: left
}

h1 {
    font-size: 70px;
    line-height: 74px;
    color: #fa6900
}

h2 {
    font-size: 55px;
    line-height: 59px
}

h3 {
    font-size: 50px;
    line-height: 54px
}

h4 {
    font-size: 45px;
    line-height: 49px
}

h5 {
    font-size: 40px;
    line-height: 44px
}

h6 {
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 10px;
    color: #b8b2b2
}

.subheader {
    color: #7a7a7a
}

p {
    margin: 10px 0
}

p img {
    margin: 0
}

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777
}

em {
    font-style: italic
}

strong {
    font-weight: 700
}

small {
    font-size: 80%
}

blockquote, blockquote p {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic
}

blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #323a3d
}

blockquote cite {
    display: block;
    font-size: 12px;
    color: #555
}

blockquote cite:before {
    content: "\2014 \0020"
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
    color: #555
}

hr {
    border: solid #323a3d;
    border-width: 1px 0 0;
    clear: both;
    margin: 0 10px;
    height: 0;
    position: relative
}

a, a:visited {
    color: #fff;
    text-decoration: none
}

a:hover, a:focus {
    color: #fa6900
}

p a, p a:visited {
    line-height: inherit;
    text-decoration: none
}

ul {
    list-style: none outside
}

ol {
    list-style: decimal
}

ol, ul.square, ul.circle, ul.disc {
    margin-left: 30px
}

ul.square {
    list-style: square outside
}

ul.circle {
    list-style: circle outside
}

ul.disc {
    list-style: disc outside
}

ul ul, ul ol, ol ol, ol ul {
    margin: 4px 0 5px 30px;
    font-size: 90%
}

ul ul li, ul ol li, ol ol li, ol ul li {
    margin-bottom: 6px
}

li {
    line-height: 18px;
    margin-bottom: 10px
}

ul.large li {
    line-height: 21px
}

li p {
    line-height: 21px
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background: rgba(250, 105, 0, .8);
    border: 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 15px 25px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background: #383636
}

.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    background: #ccc
}

.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

img.scale-with-grid {
    max-width: 100%;
    height: auto
}

.remove-bottom {
    margin-bottom: 0 !important
}

.half-bottom {
    margin-bottom: 10px !important
}

.add-bottom {
    margin-bottom: 20px !important
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../imagez/preload.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px
}

.padding-top {
    padding-top: 50px
}

.padding-bottom {
    padding-bottom: 50px
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.line {
    height: 50px
}

.back-quv {
    background: rgba(250, 105, 0, .8)
}

.quv {
    position: relative;
    background: url(../imagez/test.png) no-repeat top left;
    font-family: 'OpenSans-Light-webfont';
    color: #e0e0e0;
    font-size: 24px;
    line-height: 34px;
    font-weight: 100;
    margin-top: 34px;
    padding-top: 16px;
    padding-bottom: 10px;
    text-indent: 60px
}

.quv-autor {
    font-family: 'OpenSans-Light-webfont';
    color: #000;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 50px
}

#navigation {
    background: #000;
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 2000;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .4)
}

.logo {
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    height: 50px
}

#navigation ul {
    padding-top: 30px;
    float: right
}

#navigation ul li {
    display: inline;
    margin-right: 30px;
    font-family: 'OpenSans-Regular-webfont'
}

#navigation a, #navigation a:active, #navigation a:visited {
    color: #7f7f7f;
    padding-top: 25px;
    height: 70px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 18px
}

#navigation ul li:hover a, #navigation ul li.current a {
    color: #fa9600;
    border-bottom: 2px solid #fa9600
}

@media only screen and (max-width: 959px) {
    #navigation ul {
        width: 250px;
        padding: 5px 0;
        position: relative;
        top: 10px;
        right: 50px;
        border: solid 1px #efefef;
        background: #fff url(../imagez/icon-menu.png) no-repeat 10px 11px;
        border-radius: 3px
    }

    .logo {
        margin-top: 10px
    }

    ul#menu li {
        display: none;
        margin: 0
    }

    #navigation .current {
        display: block !important
    }

    #navigation a {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left
    }

    #navigation ul:hover {
        background-image: none
    }

    #navigation ul:hover .current {
        background: url(../imagez/icon-check.png) no-repeat 10px 7px
    }

    #navigation ul li:hover a, #navigation ul li.current a {
        color: #000;
        border-bottom: 0
    }

    #navigation a, #navigation a:active, #navigation a:visited {
        padding-top: 5px;
        height: auto;
        padding-bottom: 5px
    }
}

@media only screen and (max-height: 590px) {
    .text-home {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    .logo {
        margin-left: 10px;
        margin-top: 10px;
        height: 50px
    }

    #navigation ul {
        width: 200px;
        padding: 5px 0;
        position: relative;
        top: 10px;
        right: 20px;
        border: solid 1px #efefef;
        background: #fff url(../imagez/icon-menu.png) no-repeat 10px 11px;
        border-radius: 3px
    }

    ul#menu li {
        display: none;
        margin: 0
    }

    #navigation .current {
        display: block !important
    }

    #navigation a {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left
    }

    #navigation ul:hover {
        background-image: none
    }

    #navigation ul:hover .current {
        background: url(../imagez/icon-check.png) no-repeat 10px 7px
    }

    #navigation ul li:hover a, #navigation ul li.current a {
        color: #000;
        border-bottom: 0
    }

    #navigation a, #navigation a:active, #navigation a:visited {
        padding-top: 5px;
        padding-bottom: 5px
    }
}

@media only screen and (max-width: 479px) {
    .logo {
        margin-left: -30px;
        margin-top: 15px;
        height: 40px
    }

    #navigation ul {
        width: 120px;
        padding: 5px 0;
        position: relative;
        top: 10px;
        right: 10px;
        border: solid 1px #efefef;
        background: #fff url(../imagez/icon-menu.png) no-repeat 10px 11px;
        border-radius: 3px
    }

    ul#menu li {
        display: none;
        margin: 0
    }

    #navigation .current {
        display: block !important
    }

    #navigation a {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left
    }

    #navigation ul:hover {
        background-image: none
    }

    #navigation ul:hover .current {
        background: url(../imagez/icon-check.png) no-repeat 10px 7px
    }

    #navigation ul li:hover a, #navigation ul li.current a {
        color: #000;
        border-top: 0
    }

    #navigation a, #navigation a:active, #navigation a:visited {
        padding-top: 5px;
        height: auto;
        padding-bottom: 5px
    }
}

#home {
    position: relative;
    background: #fff url(../imagez/bg0.jpg) no-repeat top center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden
}

.text-home h5 {
    font-family: 'BebasNeueRegular';
    text-align: center;
    color: #FFF;
    top: 50%;
    width: 100%;
    margin-top: -30px;
    position: absolute;
    font-size: 66px;
    line-height: 70px
}

.text-home p {
    font-family: 'OpenSans-Light-webfont';
    text-align: center;
    color: #fff;
    top: 50%;
    width: 100%;
    margin-top: -75px;
    position: absolute;
    font-size: 34px;
    line-height: 38px
}

#logo-big {
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -80px;
    z-index: 1999;
    width: 160px;
    height: 85px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    z-index: 1999;
    width: 100px;
    height: 100px;
    opacity: 1;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}

#arrow:hover {
    opacity: .7
}

#about {
    background: #4d4646;
    position: relative
}

#about h1 {
    padding-top: 20px
}

#about h5 {
    font-family: 'OpenSans-Light-webfont';
    color: #e0e0e0;
    font-size: 22px;
    line-height: 32px;
    font-weight: 100;
    padding-bottom: 50px
}

#about span {
    color: #b8b2b2;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

#about span:hover {
    color: #fa9600
}

.pro-bar-wrap {
    position: relative;
    text-align: left
}

.pro-bar {
    position: relative
}

.caption {
    z-index: 3;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    margin-left: 10px
}

.caption div {
    font-size: 18px;
    line-height: 40px;
    font-family: 'OpenSans-Light-webfont';
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 1px #000 inset, 0 1px 0 #444
}

.progress-bar {
    height: 36px;
    padding: 2px;
    width: 100%;
    margin: 15px 0
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out
}

.orange span {
    background-color: rgba(250, 105, 0, .7)
}

.stripes span {
    -webkit-background-size: 38px 38px;
    -moz-background-size: 38px 38px;
    background-size: 38px 38px;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)), color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite
}

@-webkit-keyframes animate-stripes {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 60px 0
    }
}

@-moz-keyframes animate-stripes {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 60px 0
    }
}

.portret {
    position: relative;
    text-align: center;
    padding-bottom: 50px
}

.portret h6 {
    padding-top: 20px
}

.portret img {
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .4);
    width: 100%;
    max-width: 220px;
    height: auto;
    -webkit-transition: all .5s ease-in-out;
    -webkit-transform-origin-x: 110px;
    -webkit-transform-origin-y: 10px
}

.portret img:hover {
    -webkit-transform: rotate(-8deg)
}

.portret1 {
    position: relative;
    text-align: center;
    padding-bottom: 50px
}

.portret1 h6 {
    padding-top: 20px
}

.portret1 img {
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .4);
    width: 100%;
    max-width: 220px;
    height: auto;
    -webkit-transition: all .5s ease-in-out;
    -webkit-transform-origin-x: 110px;
    -webkit-transform-origin-y: 10px
}

.portret1 img:hover {
    -webkit-transform: rotate(8deg)
}

.tack {
    background: url(../imagez/tack.png) no-repeat top center;
    position: absolute;
    width: 40px;
    height: 63px;
    display: block;
    left: 50%;
    margin-left: -5px;
    z-index: 100
}

.left1 {
    text-align: left
}

.left {
    text-align: left;
    padding-top: 10px;
    height: 24px
}

.list-social-team li {
    padding: 0 4px 4px 0;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    display: inline-block
}

.list-social-team li.icon-soc-team a:hover {
    font-size: 28px
}

#separator {
    position: relative;
    overflow: hidden;
    width: 100%
}

#twit {
    background: url(../imagez/twitter.png) no-repeat top center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 60px;
    font-family: 'OpenSans-Light-webfont';
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    line-height: 40px;
    font-style: italic;
    position: relative;
    text-align: center
}

#twit a {
    color: #fff
}

#twit a:hover {
    color: #fa6900
}

#services {
    background: #383636;
    position: relative;
    padding-top: 100px
}

#services h5 {
    font-family: 'OpenSans-Light-webfont';
    color: #e0e0e0;
    font-size: 22px;
    line-height: 32px;
    font-weight: 100;
    padding-bottom: 50px
}

.heading-and-icon {
    width: 100%;
    margin-bottom: 20px;
    height: 60px
}

.heading-and-icon img {
    float: left;
    margin-right: 15px
}

.heading-and-icon h6 {
    padding-top: 15px
}

.b-small {
    color: #fff;
    padding: 0 15px;
    background: rgba(250, 105, 0, .7);
    height: 35px;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    margin-top: 10px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.b-small:hover {
    background: #423b3b;
    color: #fff;
    opacity: 1
}

#services-list {
    position: relative;
    text-align: left
}

#services-list li {
    padding-left: 26px
}

#services-list h6 {
    font-size: 26px;
    line-height: 30px
}

.arrow-list {
    background: url(../imagez/arrow-list.png) no-repeat center left
}

.photo-list {
    background: url(../imagez/photo-list.png) no-repeat center left
}

.checkmark-list {
    background: url(../imagez/checkmark-list.png) no-repeat center left
}

#services-list img {
    margin: 0 auto;
    width: 100%;
    height: auto
}

#separator1 {
    position: relative;
    overflow: hidden;
    width: 100%
}

#sep {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    text-align: center
}

#sep h5 {
    font-family: 'OpenSans-Light-webfont';
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    line-height: 40px;
    font-style: italic;
    text-align: center
}

.b-big {
    color: #fff;
    padding: 0 25px;
    background: rgba(250, 105, 0, .7);
    height: 45px;
    text-align: center;
    display: inline-block;
    line-height: 45px;
    margin-top: 20px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.b-big:hover {
    background: #423b3b;
    color: #fff;
    opacity: 1
}

#work {
    background: #4d4646;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px
}

#works {
    background: #4d4646;
    position: relative;
    padding-top: 100px
}

#works h5 {
    font-family: 'OpenSans-Light-webfont';
    color: #e0e0e0;
    font-size: 22px;
    line-height: 32px;
    font-weight: 100;
    padding-bottom: 50px
}

#works span {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

#works span:hover {
    color: #fa6900
}

#works p {
    text-align: justify
}

#works img {
    width: 100%;
    height: auto;
    display: block
}

@media screen and (min-width: 768px) {
    #works .container .columns {
        margin-top: 0;
        margin-bottom: 0
    }
}

.view-work .mask-work {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.view-work:hover .mask-work {
    background: rgba(0, 0, 0, .8) url(../imagez/detals.png) no-repeat center center;
    opacity: 1
}

.view-work {
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: left
}

.view-work .mask-work {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.client {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: 50%;
    display: block
}

.client1 {
    background: url(../imagez/clients/1.png) no-repeat center center;
}

.client2 {
    background: url(../imagez/clients/2.png) no-repeat center center;
}

.client3 {
    background: url(../imagez/clients/3.png) no-repeat center center;
}

.client4 {
    background: url(../imagez/clients/4.png) no-repeat center center;
}

.client5 {
    background: url(../imagez/clients/5.png) no-repeat center center;
}

.client6 {
    background: url(../imagez/clients/6.png) no-repeat center center;
}

.client7 {
    background: url(../imagez/clients/7.png) no-repeat center center;
}

.client8 {
    background: url(../imagez/clients/8.png) no-repeat center center;    
}

.client9 {
    background: url(../imagez/clients/9.png) no-repeat center center;    
}

@media screen and (max-width: 767px) {
    .client {
        margin-top: 1%
    }
}

.works-sec {
    position: relative;
    background: #383636;
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3)
}

.info-works {
    position: relative;
    padding-top: 90px;
    display: block
}

.info-works p {
    text-align: left
}

a.inner-button-works {
    float: left;
    margin-top: 10px;
    font-family: 'OpenSans-Light-webfont';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    color: #fff;
    padding: 4px;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    text-align: center;
    background: rgba(250, 105, 0, .7);
    min-width: 120px
}

a.inner-button-works:hover {
    background: #423b3b
}

.cbp-fwslider {
    position: relative;
    margin: 0;
    overflow: hidden;
    padding: 0
}

.cbp-fwslider ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    list-style-type: none
}

.cbp-fwslider ul li {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    float: left;
    display: block;
    margin: 0;
    padding: 0
}

.cbp-fwslider ul li >, .cbp-fwslider ul li > div {
    display: block;
    text-align: center;
    outline: 0
}

.cbp-fwslider ul li > img {
    border: 0;
    display: block;
    margin: 0 auto;
    max-width: 100%
}

.cbp-fwslider nav span {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    background: rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: -25px;
    line-height: 50px;
    cursor: pointer;
    font-weight: 400
}

.cbp-fwslider nav span:hover {
    background: rgba(0, 0, 0, .9)
}

.cbp-fwslider nav span.cbp-fwnext {
    right: 0
}

.cbp-fwslider nav span.cbp-fwprev {
    left: 0
}

#separator2 {
    position: relative;
    overflow: hidden;
    width: 100%
}

#sep1 {
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    text-align: center
}

#sep1 h5 {
    font-family: 'OpenSans-Light-webfont';
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    line-height: 40px;
    font-style: italic;
    text-align: center
}

#gallery {
    background: #383636;
    position: relative;
    padding-top: 100px
}

#gallery h1 {
    padding-bottom: 30px
}

#gallery h5 {
    font-family: 'OpenSans-Light-webfont';
    color: #e0e0e0;
    font-size: 22px;
    line-height: 32px;
    font-weight: 100;
    padding-bottom: 50px
}

.portfolio {
    width: 100%;
    position: relative
}

.portfolio li {
    float: left;
    width: 20%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden
}

.portfolio a {
    display: block;
    text-decoration: none
}

.portfolio img {
    width: 100%;
    height: auto;
    display: block
}

.view .mask {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.view:hover .mask {
    background: rgba(0, 0, 0, .8) url(../imagez/mag.png) no-repeat center center;
    opacity: 1
}

.view {
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: left
}

.view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.view1 .mask1 {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.view1:hover .mask1 {
    background: rgba(0, 0, 0, .8) url(../imagez/vid.png) no-repeat center center;
    opacity: 1
}

.view1 {
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: left
}

.view1 .mask1 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

#portfolio-filter {
    text-align: left;
    background: #4d4646;
    border-top: 5px solid #4d4646
}

.fil {
    background: #4d4646
}

#filter {
    display: inline-block
}

#filter li {
    background: #4d4646;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin-bottom: 0;
    padding: 15px 25px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

#filter li a {
    text-transform: uppercase;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

#filter li:hover {
    background: #423b3b
}

#filter li .current {
    color: #fa9600
}

.isotope-item {
    z-index: 2
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1
}

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    transition-duration: .8s
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: top, left, opacity;
    transition-property: transform, opacity
}

#contact {
    background: #4d4646;
    position: relative;
    padding-bottom: 50px;
    padding-top: 100px
}

#contact h5 {
    font-family: 'OpenSans-Light-webfont';
    color: #e0e0e0;
    font-size: 22px;
    line-height: 32px;
    font-weight: 100;
    padding-bottom: 50px
}

#contact h6 {
    padding-top: 30px
}

#contact h4 {
    font-family: 'OpenSans-Light-webfont';
    padding-top: 20px;
    padding-bottom: 0;
    font-size: 24px;
    line-height: 28px
}

#contact span {
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

#contact span:hover {
    color: #fa6900
}

.text-and-icon {
    width: 100%;
    height: 60px
}

.text-and-icon span {
    font-size: 20px
}

#map {
    display: block;
    width: 100%;
    height: 450px;
    margin: 0 auto
}

.overlay {
    display: block;
    text-align: center;
    height: 80px;
    width: 102px;
    background: transparent url(../imagez/marker.png) no-repeat bottom center
}

.overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute
}

.overlay_arrow.above {
    bottom: -13px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #000
}

.overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #000
}

#ajax-form {
    width: 100%;
    font: 16px/22px OpenSans-Light-webfont;
    margin-left: auto;
    margin-right: auto
}

label {
    display: block;
    font: 16px/34px OpenSans-Light-webfont
}

input {
    width: 100%;
    border: 0;
    background: #d9d9d9;
    font: 16px/22px OpenSans-Light-webfont;
    margin-bottom: 5px;
    padding: 5px
}

textarea {
    width: 100%;
    background: #d9d9d9;
    font: 16px/22px OpenSans-Light-webfont;
    height: 120px;
    margin-bottom: 5px;
    padding: 5px
}

.error {
    color: #fa9600;
    font: 16px/22px OpenSans-Light-webfont;
    display: none
}

#ajaxsuccess {
    background: #383636;
    color: #fff;
    font: 20px/60px OpenSans-Light-webfont;
    height: 60px;
    border-left: 5px solid #000;
    display: none;
    padding-left: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px
}

#copyright {
    position: relative;
    font-family: 'OpenSans-Regular-webfont';
    background: #000;
    font-size: 12px;
    line-height: 16px;
    color: #fff
}

.left {
    text-align: left;
    height: 32px
}

.list-social-contact li {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-right: 5px
}

.list-social-contact li.icon-soc-contact img {
    float: left;
    height: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out
}

.list-social-contact li.icon-soc-contact img:hover {
    opacity: .7
}

.border-footer {
    padding-top: 20px;
    border-bottom: 1px solid rgba(74, 74, 74, .4)
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .portfolio li {
        width: 25%
    }

    .heading-and-icon h6 {
        padding-top: 20px;
        font-size: 22px;
        line-height: 26px
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .portfolio li {
        width: 50%
    }

    .info-works {
        padding-top: 50px
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .portfolio li {
        width: 100%
    }

    .heading-and-icon h6 {
        padding-top: 20px;
        font-size: 22px;
        line-height: 26px
    }

    .text-home h5 {
        font-size: 26px;
        line-height: 30px
    }

    .text-home p {
        font-size: 16px;
        line-height: 20px
    }

    .info-works {
        padding-top: 10px
    }
}

@media only screen and (max-width: 319px) {
    h1 {
        font-size: 46px;
        line-height: 50px
    }

    .portfolio li {
        width: 100%
    }

    .heading-and-icon h6 {
        padding-top: 20px;
        font-size: 22px;
        line-height: 26px
    }

    .text-home h5 {
        font-size: 22px;
        line-height: 26px
    }

    .text-home p {
        font-size: 14px;
        line-height: 18px
    }

    .info-works {
        padding-top: 10px
    }
}

@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('font/OpenSans-Light-webfont.woff2') format("woff2"), url('font/OpenSans-Light-webfont.woff') format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-Bold-webfont';
    src: url('font/OpenSans-Bold-webfont.woff2') format("woff2"), url('font/OpenSans-Bold-webfont.woff') format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'OpenSans-Regular-webfont';
    src: url('font/OpenSans-Regular-webfont.woff2') format("woff2"), url('font/OpenSans-Regular-webfont.woff') format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url(font/BebasNeue-webfont.eot);
    src: url('font/BebasNeue-webfont.woff2') format("woff2"),
    url(font/BebasNeue-webfont.eot?#iefix) format("embedded-opentype"),
    url(font/BebasNeue-webfont.woff) format("woff"),
    url(font/BebasNeue-webfont.ttf) format("truetype"),
    url(font/BebasNeue-webfont.svg#BebasNeueRegular) format("svg");
    font-weight: 400;
    font-style: normal
}

.container {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 20px
}

.container .column, .container .columns {
    float: left;
    display: inline;
    margin: 10px
}

.row {
    margin-bottom: 20px
}

.column.alpha, .columns.alpha {
    margin-left: 0
}

.column.omega, .columns.omega {
    margin-right: 0
}

.container .one.column, .container .one.columns {
    width: 40px
}

.container .two.columns {
    width: 100px
}

.container .three.columns {
    width: 160px
}

.container .four.columns {
    width: 220px
}

.container .five.columns {
    width: 280px
}

.container .six.columns {
    width: 340px
}

.container .seven.columns {
    width: 400px
}

.container .eight.columns {
    width: 460px
}

.container .nine.columns {
    width: 520px
}

.container .ten.columns {
    width: 580px
}

.container .eleven.columns {
    width: 640px
}

.container .twelve.columns {
    width: 700px
}

.container .thirteen.columns {
    width: 760px
}

.container .fourteen.columns {
    width: 820px
}

.container .fifteen.columns {
    width: 880px
}

.container .sixteen.columns {
    width: 940px
}

.container .one-third.column {
    width: 300px
}

.container .two-thirds.column {
    width: 620px
}

.container .offset-by-one {
    padding-left: 60px
}

.container .offset-by-two {
    padding-left: 120px
}

.container .offset-by-three {
    padding-left: 180px
}

.container .offset-by-four {
    padding-left: 240px
}

.container .offset-by-five {
    padding-left: 300px
}

.container .offset-by-six {
    padding-left: 360px
}

.container .offset-by-seven {
    padding-left: 420px
}

.container .offset-by-eight {
    padding-left: 480px
}

.container .offset-by-nine {
    padding-left: 540px
}

.container .offset-by-ten {
    padding-left: 600px
}

.container .offset-by-eleven {
    padding-left: 660px
}

.container .offset-by-twelve {
    padding-left: 720px
}

.container .offset-by-thirteen {
    padding-left: 780px
}

.container .offset-by-fourteen {
    padding-left: 840px
}

.container .offset-by-fifteen {
    padding-left: 900px
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
        width: 768px
    }

    .container .column, .container .columns {
        margin: 10px
    }

    .column.alpha, .columns.alpha {
        margin-left: 0;
        margin-right: 10px
    }

    .column.omega, .columns.omega {
        margin-right: 0;
        margin-left: 10px
    }

    .alpha.omega {
        margin-left: 0;
        margin-right: 0
    }

    .container .one.column, .container .one.columns {
        width: 28px
    }

    .container .two.columns {
        width: 76px
    }

    .container .three.columns {
        width: 124px
    }

    .container .four.columns {
        width: 172px
    }

    .container .five.columns {
        width: 220px
    }

    .container .six.columns {
        width: 268px
    }

    .container .seven.columns {
        width: 316px
    }

    .container .eight.columns {
        width: 364px
    }

    .container .nine.columns {
        width: 412px
    }

    .container .ten.columns {
        width: 460px
    }

    .container .eleven.columns {
        width: 508px
    }

    .container .twelve.columns {
        width: 556px
    }

    .container .thirteen.columns {
        width: 604px
    }

    .container .fourteen.columns {
        width: 652px
    }

    .container .fifteen.columns {
        width: 700px
    }

    .container .sixteen.columns {
        width: 748px
    }

    .container .one-third.column {
        width: 236px
    }

    .container .two-thirds.column {
        width: 492px
    }

    .container .offset-by-one {
        padding-left: 48px
    }

    .container .offset-by-two {
        padding-left: 96px
    }

    .container .offset-by-three {
        padding-left: 144px
    }

    .container .offset-by-four {
        padding-left: 192px
    }

    .container .offset-by-five {
        padding-left: 240px
    }

    .container .offset-by-six {
        padding-left: 288px
    }

    .container .offset-by-seven {
        padding-left: 336px
    }

    .container .offset-by-eight {
        padding-left: 384px
    }

    .container .offset-by-nine {
        padding-left: 432px
    }

    .container .offset-by-ten {
        padding-left: 480px
    }

    .container .offset-by-eleven {
        padding-left: 528px
    }

    .container .offset-by-twelve {
        padding-left: 576px
    }

    .container .offset-by-thirteen {
        padding-left: 624px
    }

    .container .offset-by-fourteen {
        padding-left: 672px
    }

    .container .offset-by-fifteen {
        padding-left: 720px
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        width: 420px
    }

    .container .columns, .container .column {
        margin: 10px 0
    }

    .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
        width: 420px
    }

    .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
        padding-left: 0
    }
}

@media only screen and (max-width: 319px) {
    .container {
        width: 220px
    }

    .container .columns, .container .column {
        margin: 10px 0
    }

    .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
        width: 220px
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .container {
        width: 300px
    }

    .container .columns, .container .column {
        margin: 10px 0
    }

    .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
        width: 300px
    }
}

.container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix:before, .clearfix:after, .row:before, .row:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.row:after, .clearfix:after {
    clear: both
}

.row, .clearfix {
    zoom: 1
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    background: rgba(0, 0, 0.9);
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}

.fancybox-outer, .fancybox-inner {
    position: relative
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #fa9600;
    font: 18px/24px 'Poiret One', cursive;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(../imagez/fancybox_sprite.png)
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(../imagez/fancybox_loading.gif) center center no-repeat
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(../imagez/blank.gif);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}

.fancybox-lock {
    overflow: hidden
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(../imagez/fancybox_overlay.png)
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    font: 14px/20px 'Poiret One', cursive;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8)
}

#langbar {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px
}

.contact-image {
    display: inline-block !important;
    margin-right: 15px;
    width: auto !important
}

.project-logo {
    margin: 0 auto;
    display: table;
    padding-bottom: 36px;
    text-align: center
}

.project-nav{
    position:fixed;
    top:0
}